{{!-- this is where we will be able to view selected/individual project board and render all information here --}}
{{!-- TODO: create routes exporting required information to presernt in handlebars.js --}}

<main class="project-board container-fluid">
    <div class="board-title-wrapper row"> 
        <h2 class="board title">{{boardNameData.boardName}}</h2>
    </div>
    {{!-- iterate through each card here, based on posistion--}}
    {{!-- {{{ #each board.cardID }}} --}}
    
    <div class="cardsWrapper row align-items-start justify-content-start" id="cardWrapper">
        {{log data}}
        {{#each data}}
            <div class="card-body col" id="column-id-{{id}}">
                <h2 class="card-title-{{id}} card-title">{{title}}</h2>
                <div class="dropdown">
                    <button type="button" class="btn btn-dark dropdown-toggle new-task" id="dropdownMenuButton-{{position}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{position}}">
                        <form class="px-4 py-3"></form>
                            <div class="form-group">
                                <label for="newTaskTitle-{{position}}">Task Title</label>
                                <input type="email" class="form-control" id="newTaskTitle-{{position}}" aria-describedby="emailHelp" placeholder="Enter task title">
                            </div>
                            <div class="form-group">
                                <label for="newTaskDescriptions-{{position}}">Task Description</label>
                                <textarea class="form-control" id="newTaskDescriptions-{{position}}" rows="2"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="task-list-{{position}}" id="id-{{position}}"></div>
            </div>
        {{/each}}
    </div>
</main>