{{!-- this is where we will be able to view selected/individual project board and render all information here --}}
{{!-- TODO: create routes exporting required information to presernt in handlebars.js --}}

<main class="project-board container-fluid">
    <div class="board-title-wrapper row"> 
        <h2 class="board title">{{boardNameData.boardName}}</h2>
    </div>
    {{!-- iterate through each card here, based on posistion--}}
    {{!-- {{{ #each board.cardID }}} --}}
    
    <div class="cardsWrapper row align-items-start justify-content-start" id="cardWrapper">
        {{log data}}
        {{#each data}}
            <div class="card-body col" id="column-id-{{id}}">
                <div class="projectHeader row">
                    <h2 class="card-title-{{id}} col-11 card-title">{{title}}</h2>
                    <div class="dropdown col-1">                
                        <button type="button" class="btn btn-dark dropdown-toggle new-task" id="dropdownMenuButton-{{position}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{position}}">
                            <form class="px-4 py-3" onsubmit="handleNewTask({{position}})">
                                <div class="form-group">
                                    <label for="newTaskTitle-{{position}}">Task Title</label>
                                    <input type="input" class="form-control" id="newTaskTitle-{{position}}" aria-describedby="emailHelp" placeholder="Enter task title">
                                </div>
                                <div class="form-group">
                                    <label for="newTaskDescriptions-{{position}}">Task Description</label>
                                    <textarea class="form-control" id="newTaskDescriptions-{{position}}" rows="2"></textarea>
                                </div>
                                <button type="submit" id="newTaskSubmit-{{position}}" class="btn btn-dark">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>        
            <div class="task-list-{{position}}" id="id-{{position}}"></div>
            </div>
        {{/each}}
    </div>
</main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    
    <script src="/assets/js/index.js"></script>