{{!-- this isthe page where users are placed after login, 
    with the ability to view active projects, and create new projects--}}

{{!-- navbar goes here --}}

<main>
    <div>
        <h2>
            {{userData.username}}
        </h2>
    </div>
    <div class="project wrapper">
        {{#each boardData}}
        
        <div class="project-{{id}}">
            {{!-- folder or project icon goes here --}}
            <div class="projectName">
                <a  href="/project/{{id}}">{{boardName}}</a>
            </div>
            <div class="projectDescription">{{boardDescription}}</div>
        </div>
        {{/each}}
        <div>
            {{!-- clickable div with pop-up form where we can allow users to create new projects --}}
        </div>
    </div>
</main>