{{!-- this isthe page where users are placed after login, 
    with the ability to view active projects, and create new projects--}}

{{!-- navbar goes here --}}

<main class="container-fluid">
    <div>
        <h2 class="user-name">
            {{userData.username}}/projects
        </h2>
    </div>
    <div class="projects wrapper row">
        {{#each boardData}}
        
        <div class="project col-4 project-{{id}}">
            <div class="projectHeader">
                <div class="projectIcon ">
                    <i class="far fa-folder"></i>
                </div>
                {{!-- folder or project icon goes here --}}
                <div class="projectName ">
                    <a  href="/project/{{id}}">{{boardName}}</a>
                </div>
            </div>
            <div class="projectDescription">{{boardDescription}}</div>
        </div>
        {{/each}}
        <div>
            {{!-- clickable div with pop-up form where we can allow users to create new projects --}}
        </div>
    </div>
</main>